<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="Secured">
        <system.webServer>
          <directoryBrowse enabled="false" />
        </system.webServer>
    </location>
    
    <system.web>
        <httpCookies httpOnlyCookies="false" requireSSL="true" lockItem="true" />
        <sessionState cookieSameSite="Strict" />
    </system.web>

    <system.webServer>
        <directoryBrowse enabled="false" />

        <caching> 
            <profiles>
              <add extension=".jpeg" location="Any" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
              <add extension=".js" location="Any" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
              <add extension=".png" location="Any" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
              <add extension=".webp" location="Any" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
              <add extension=".jpg" location="Any" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
              <add extension=".css" location="Any" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
              <add extension=".json" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
            </profiles>
        </caching>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".gzip" mimeType="text/html" />
            <remove fileExtension=".webmanifest" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/json" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" /> 
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="strict-transport-security" value="max-age=63072000" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1" />
                <add name="Content-Security-Policy" value="default-src 'self' extreme-ip-lookup.com stackpath.bootstrapcdn.com code.jquery.com cdn.jsdelivr.net detail.tmall.com momoshop.com.tw ahc.co.kr d2c33fbhlldtf9.cloudfront.net * ;                  " />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Cache-Control" value="max-age=86400" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>

    </system.webServer>

</configuration>


