<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpProtocol>
            <customHeaders>
                <remove name="Content-Security-Policy" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
