@font-face {
  font-family: "Pangram-Regular";
  src:url("../shared/fonts/Pangram-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pangram-Light";
  src:url("../shared/fonts/Pangram-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pangram-ExtraBold";
  src:url("../shared/fonts/Pangram-ExtraBold.otf") format("opentype");
}
.mainIntroPage{



}
body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Pangram-Regular";
  background-color: rgb(204, 203, 203);
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

video{
  position: fixed !important;
  /* width: 50%;
  height: 50%; */
  align-items: center;
  /* transform: translate(50%,50%);  */
  /* top: 50%;
  transform: translateY(-50%); */
}

/* .beauty-options{
  width:100%;
  height: 20%;
} */

#vid-1{
  z-index: 52;
  height: 100%;
  width: 100%;
}
#vid-2{
  z-index: 52;
  height: 100%;
  width: 100%;
}
#vid-3{
  z-index: 52;
  height: 100%;
  width: 100%;
}
#orb-vid{
  z-index: 52;
  height: 100%;
  width: 100%;
}

.video-js{
  background-color: rgba(0, 0, 0, 0) !important;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




#container_2{
  /* width: 100%;
  height: 100%; */
  margin: auto;

  display: block;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */

}

#close-btn{
  display:none;
  width: 50px;
  position: absolute;
  top:5%;
  right:5%;
  z-index: 50;
}

/*
#c {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 2s ease-in-out forwards;
  -moz-transition: opacity 2s ease-in-out forwards;
  -ms-transition: opacity 2s ease-in-out forwards;
  -o-transition: opacity 2s ease-in-out forwards;
  transition: opacity 2s ease-in-out forwards;
  animation: opacity 2s ease-in-out forwards;
  opacity: 0;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* button {
  font-family: Monospace;
	cursor: pointer;
	text-transform: uppercase;
  pointer-events: auto;
} */

#blackScreen {
	position: absolute;

	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgb(0, 0, 0);
  /* opacity: 0; */

  animation: opacityAnim2 1.5s ease-in-out forwards ;
}

#whiteScreen {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: white;
  opacity: 0;
  animation: opacityAnim2 0.2s ease-in-out alternate;
  pointer-events: none;
}
.product {
  position: absolute;


  transform: translate(-50%, -50%)scale(0.35);
	/* width: 100%;
	height: 100%; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* background: rgb(0, 0, 0); */
  opacity: 0;
  animation: opacityAnim 1.5s ease-in-out forwards;
}

.product img {

  /* display: block; */
  /* margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */

  /* text-align: center; */

  /* height: auto;  */
  z-index: 30;
  /* align-items: center; */

}

.product .btn {
  display: block;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%)scale(3);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  /* border: 0.3rem solid transparent; */
  border-radius: 6rem;
}
/* #test{
  position: absolute;
	transform: scale(0.5);
	z-index: 0;
	top: 0;
	left: 0;
  padding-left: 25%;
	display: block;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  opacity: 1;
  animation: opacityAnim2 1.5s ease-in-out forwards;
} */
#overlay {
	position: absolute;

	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgb(255, 241, 215)
}
	/* #overlay button {
    font-size: 36px;
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 12px;
		color: #ffffff;
		padding: 36px 54px;
		text-transform: uppercase;
		cursor: pointer;
	} */



  #video-close-overlay{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0);
    z-index: 25;
    display: none;
  }

  @keyframes opacityAnim {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes opacityAnim2 {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.5;
    }
  }
  @keyframes opacityAnim3 {
    0% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes opacityAnimReverse {
    0% {
      opacity: 0.8;
    }

    100% {
      opacity: 0;
    }
  }


  #closeButton{
    height: 100px;
    width: 100px;
    transform: scale(1);
    display:block;

    margin-top: 10%;
    margin-left: 73%;
    border-radius: 50%;
    border: none;
    /*
    align-items: center;
    justify-content: center;
    flex-direction: colum
    n; */
  }
  .beauty-thumbnails{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (min-width: 600px) {

    .productIntro {
      position: absolute;
        /* width: 50%; */
        top: 50%;
       left: 50%;

      transform: translate(-50%, -50%)scale(1);
       opacity: 0;
       -webkit-animation: pulse 1s ease-in-out forwards;
       animation: pulse 1s ease-in-out forwards;

    }
    #video_id{
      position: absolute;
      /* width: 100%;
      height: 100%; */
      /* background: rgb(0, 0, 0); */
      height: 50%;
      width: 50%;
      transform: translate(50%, 50%);
      display: none;
      text-align: center;
      opacity: 0;
      animation: opacityAnim 1.5s ease-in-out forwards;
      overflow: hidden;
      z-index: 15;
    }
      #video2{
      /* transform: scale(0.5); */
      z-index: 50;
      position: absolute;
      display: none;

      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;


  }
    #start-btn2 {
      position: absolute;
      top: 75%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: rgb(61, 61, 61);
      color: white;
      font-size: 32px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;

      text-align: center;
      padding: 1.5rem 7rem;
      border-radius: 3rem;
    }

    .CTA-btn {
      display:none;
      align-items: center;
      justify-content: center;
      text-align: center;

      margin: 0 auto;
      position: absolute;
      color:  #000000;
      /* display:block; */
      box-shadow: 5px 10px 18px #888888;
      background-color: #f4e7d4;
      opacity: 0;
      top: 70%;
      left: 50%;
      transform: translate(-50%);

      padding: 1rem 2rem;
      font-family: "Pangram-Regular";
      letter-spacing: 5px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1em;

      text-decoration: none;
      backface-visibility: hidden;
      border: 0.3rem solid transparent;
      border-radius: 3rem;
      /*height: 30px;*/
      border-color: transparent;
      transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);

      transition: opacity 0.5s;
    }
    .beauty-options{
      width: 30%;
      height: 100%;
  }

    .beauty-options-container{
      display: flex;
      height: 100%;
      width: 150%;
      align-items: center;
      justify-content: space-between;
    }
    .beauty-options:hover{
      transform: scale(1.025);
    }
    #ahc-logo-beauty{
      /* position:fixed; */
      /* top:0; */
      /* transform: scale(2); */

      /* margin-bottom: 2em; */
    }

    #close-product{
      display: none;

    }
    #close-product2{
      display: none;
    }
    #close-product3{
      display: none;
    }
    #beauty-treatment-overlay {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 1000px;
      font-family: "Pangram-ExtraBold" !important;
      font-size: 2em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:100%;
      height: 80%;
      /* position: relative; */
      margin: auto;
      /* margin-top: 10%; */
      /* top:10%;
      left: 0; */
      /* background: green; */
      z-index: 50;

      opacity: 0;
      animation: opacityAnim 1.5s ease-in-out forwards;
      /* display: none; */
    }

    #back-btn{
      /* padding-top: 2em; */

      transform: rotate(90deg)scale(0.35);
    }
    #back-btn:hover{
      transform: rotate(90deg)scale(0.4);
    }

    #back-btn-img{
      /* margin: auto; */
      /* height: 20%;
      padding-top: 15%;
      top:15%; */
      /* height: 20%; */
      /* padding-top: 15%;
      top:15%; */

      transform: rotate(-90deg);
      /* transform: rotate(-90deg); */
    }


    #beauty-title{
      color: white;
      text-align: center;
      margin-top: 5%;
      margin-bottom: 7.5%;


    }

  }

@media only screen and (max-width: 599px) {
  #ahc-logo-beauty{
    /* position:fixed; */
    /* top:0; */
    transform: scale(0.5);
     margin-top: 5%;
    /* margin-bottom: 2em; */
  }
  canvas{
    z-index: -1;
  }
  #orb-btn{
    left: 25%;
  }
  .productIntro {
    display: flex;
    position: absolute;
      /* width: 50%; */
      top: 50%;
     left: 50%;

    transform: translate(-50%, -50%)scale(0.5);
     opacity: 0;
     -webkit-animation: pulse 1s ease-in-out forwards;
     animation: pulse 1s ease-in-out forwards;

  }
  #start-btn2 {
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(61, 61, 61);
    color: white;
    font-size: 32px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;

    text-align: center;
    padding: 1.5rem 7rem;
    border-radius: 3rem;
  }

  .CTA-btn {
    display:none;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2em;

    margin: 0 2em;
    position: absolute;
    color:  #000000;
    /* display:block; */
    box-shadow: 5px 10px 18px #888888;
    background-color: #f4e7d4;
    opacity: 0;
    top: 70%;
    /* left: 50%;
    transform: translate(-50%); */

    padding: 0.5rem 2rem;
    font-family: "Pangram-Regular";
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;

    text-decoration: none;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    /*height: 30px;*/
    border-color: transparent;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);

    transition: opacity 0.5s;
  }

  #beauty-treatment-overlay {

    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;

    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* max-width: 900px; */
    font-family: "Pangram-ExtraBold" !important;
    font-size: 1.2em;

    position: absolute;
    margin: auto;
    /* margin-top: 20%; */
    /* top:10%;
    left: 0; */
    /* background: green; */
    z-index: 20;

    opacity: 0;
    animation: opacityAnim 1.5s ease-in-out forwards;
    /* display: none; */  }
  .beauty-options-container{
    height: 60%;
    width: 100%;
  }
  .beauty-options {
    width: 100%;
    height: 33%;
}
  #beauty-title{
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%
  }

  #back-btn{
    /* padding-top: 2em; */
    height: 100%;
    margin-top: -15%;
    display: flex;
    align-items: center;
    /* margin-top: -20%; */
    transform: rotate(90deg)scale(0.2);
  }

  #back-btn-img{
    /* margin: auto; */
    /* height: 20%; */
    /* padding-top: 15%;
    top:15%; */

    transform: rotate(-90deg);
  }
  #video_id{
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* background: rgb(0, 0, 0); */
    height: 50%;
    width: 50%;
    transform: translate(50%, 50%);
    display: none;
    text-align: center;
    opacity: 0;
    animation: opacityAnim 1.5s ease-in-out forwards;
    overflow: hidden;
    z-index: 15;

  }
   #video2{

      /* transform: scale(0.5); */
      z-index: 50;
      position: absolute;
      display: none;

      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;


}
  #closeButton{
    height: 50px;
    width: 50px;
    transform: scale(0.85);
    display:block;
    position: absolute;
    top: 27.5%;

    margin-left: 82%;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  #overlay {
    position: absolute;

    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 241, 215)
  }
  /* #start-btn{
    transform: scale(0.5);

  } */
  .bn3637 {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    font-family: "Pangram-Regular";
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 0px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    height: 30px;
}

  .bn37 {
      border-color: transparent;
      background-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }

  .bn37:hover {
      transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }
  #close-product{
    position: absolute;
    left: 78%;
    top: -25%;
    z-index: 55;
    transform: scale(0.5);
  }
  #close-product2{
    position: absolute;
    left: 78%;
    top: -25%;
    z-index: 55;
    transform: scale(0.5);
  }
  #close-product3{
    position: absolute;
    left: 78%;
    top: -25%;
    z-index: 55;
    transform: scale(0.5);
  }
}

#ahc-logo {
  width:40%;
  margin-bottom: 5%;
}

.bn3637 {
  filter: drop-shadow(1px 2px 4px #58585838);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
  font-family: "Pangram-Regular";
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 0, 0);
  backface-visibility: hidden;
  border: 0.3rem solid rgb(0,0,0) ;
  border-radius: 300rem;
  height: 30px;
}

.bn37 {

  background-color: rgba(255, 255, 255, 0);

  color: rgb(0,0,0);
  /* transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95); */
  transition: padding 0.2s;
}

.bn37:hover {
  padding: 4rem 6rem;
  /* transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important; */
}

#hover-container {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  /* width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; */
}



.hover-text {
  font-family: "Pangram-Regular";
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 4px #000000;


  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  text-align: center;
  /* z-index: 100; */
  margin: 0 auto;
  opacity: 0;
  /* border: 0px solid rgb(255, 255, 255); */

  display: none;

  /* transition: display 0.5s; */
  transition: opacity 0.5s;

}




#ui-container{
  display: none;
}
/* #ui-container{
  /*width: 100%;*/
  /*text-align: center;
} */


#share-btn {
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 350px;
  margin: 0 auto;
  position: absolute;
  color:  #000000;
  background-color: transparent;
  display:block;

  top: 90%;
  left: 50%;
  transform: translate(-50%);

  /*padding: 1rem 2rem;*/
  font-family: "Pangram-Regular";
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;

  text-decoration: none;
  backface-visibility: hidden;

  border: 0;

}

#share-container {
  display:none;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 350px;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);

  /*color:  #000000;*/
  background-color: #FFFFFF;

  padding: 2rem;
  font-family: "Pangram-Regular";
  /*letter-spacing: 5px;*/
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;

  text-decoration: none;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  box-shadow: 5px 10px 18px #888888;
}

#share-ui {
  width:75%;
  margin: 0 auto;
}
#phone {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
}

#share-submit {
  margin: 0 auto;
  background-color: black;
  color: white;
  padding:1em;
  border-radius: 3rem;
  width: 100%;

}

#share-close {
  position: absolute;
  right: 2em;
  top: 1.5em;
  border: none;
  background-color: transparent;
  /*color: white;*/
  text-align: center;
  border-radius: 3rem;
  width: 25px;

}


@media only screen and (max-width: 599px) {
  #share-container {
    width: 70%;
  }
}
